/* Бэкграунд*/
body {
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
nav {
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;	
}
/* Ссылки в меню. Цвет*/
nav a {
	color: #FFF;
}
header {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}
/* Лого. Размер*/
header img {
	width: 240px;
}
h1 {
	font-size: 28px;
	color: white;
	font-weight: 600;
	text-align: center;
}
h3 {
	font-size: 15px;
	color: white;
	text-align: left;
}
footer {
	color: white;
	text-align: center;
}
hr {
	background-color: white;
}
.container {
	margin-top: 50px;
	color: white;
}
.container a {
	color: #FDBF07;
}
.container img {
	border: 3px solid #FFF;
	border-radius: 10px;
	width: 200px;
}
.row-hero img {
	float: left;
	margin-right: 20px;
}
@media screen and (max-width: 640px) {
	.row-hero img {
		float: none;
	}
}