/* Бэкграунд*/
body {
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
nav {
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;	
}
/* Ссылки в меню. Цвет*/
nav a {
	color: #FFF;
}
header {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}
/* Лого. Размер*/
header img {
	width: 240px;
}
h1 {
	font-size: 28px;
	color: white;
	font-weight: 600;
	text-align: center;
}
h3 {
	font-size: 15px;
	color: white;
	text-align: center;
}
img {
	border-radius: 10px;
}
footer {
	color: white;
	text-align: center;
}
/* Цвет текста в описании эпизодов*/
.col-4 {
	color: white;
}
hr {
	background-color: white;
}
a button {
	border-radius: 5px;
	width: 150px;
	text-align: center;
	background: #FDBF07;
}
/* Расстояние от верхнего элемента в контейнерах*/
.container {
	margin-top: 50px;
}
.col-4 img {
	width: 100%;
	border: 3px solid #FFF;
}
.col-3 img {
	width: 100%;
	border: 3px solid #FFF;
}
.col img {
	width: 100%;
	border: 3px solid #FFF;
}
main {
	text-align: center;
}