/* Бэкграунд*/
body {
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
nav {
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;	
}
/* Ссылки в меню. Цвет*/
nav a {
	color: #FFF;
}
header {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}
/* Лого. Размер*/
header img {
	width: 240px;
}
h1 {
	font-size: 28px;
	font-weight: 600;
	text-align: center;
}
hr {
	background-color: white;
}
footer {
	color: white;
	text-align: center;
}
.container {
	margin-top: 50px;
}
.col {
	color: white;
}
@media screen and (max-width: 560px) {
	.story_for_big {
		display: none;
	}
}
@media screen and (min-width: 561px) {
	.story_for_small {
		display: none;
	}
}